{{>header}}
<h2>{{mensaje}}</h2>

   <div class="imagen">
       <br>
        <p>Bienvenidos a la pagina de educacion superior<img src="img/1.jpg"  width="100%" height="500px"></p>
    </div>

{{>footer}}